.card-item {
  margin-bottom: 40px;
  text-align: center;
}

.card-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.card-text {
  display: flex;
  margin-top: 10px;
  margin-bottom: 15px;
  justify-content: center;
}

.dash {
  margin-left: 15px;
  margin-right: 15px;
}

.card-content {
  padding: 30px 15px;
  border: 1px solid lightgray;
  border-top: 0px;
}
