.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-container button {
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.nav-container button:nth-child(1) {
  margin-left: 40px;
}
