.header {
  background-color: #000;
  color: gray;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-menu {
  display: flex;
}

.header-menu li {
  margin-right: 25px;
}

.active-link {
  color: #fff
}

.fa-heart {
  margin-right: 5px;
}